<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="header">
        <h1>Welcome to CodeFellowShip</h1>
        
        <a class="active" href="/myprofile">My profile</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">login</a>
        <a href="#default" class="logo">
          
    </div>
<div style="position: absolute;
right: 0;">  <img class="logo" src="https://avatars.githubusercontent.com/u/3904529?s=200&v=4"></a></div>

</body>
</html>