<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="header">
    <h2><span th:text="${user.username}"/>'s profile ....</h2>
    <div class="header-right">
        <a href="#default" class="logo"><img class="logo" src="https://avatars.githubusercontent.com/u/3904529?s=200&v=4"></a>


    </div>
</div>

<div class="profileInfo">
    <img  class="imgProfile" src="https://ro16991.github.io/photo-sharing/img_avatar2.png">

    <h2 th:text="'First Name: ' + ${user.firstName}"></h2>
    <h2 th:text="'Last Name: ' + ${user.lastName}"></h2>
    <h3 th:text="'Date of Birth: ' + ${user.dateOfBirth}"></h3>
    <h3 th:text="'Bio: ' + ${user.bio}"></h3>

</div>
<div>
    <form action="/addPost" method="post">

        <div class="form-group">
            <label for="body"> Add Posts</label>
            <textarea class="form-control" id="body" name="body" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!--    <p class="card" th:each=" post : ${user.posts}"></p>-->

<!--            <p th:text=${user.username}></p>-->
<!--                <p th:text=${post.body}></p>-->

</body>
</html>