<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>

<header>
    <nav th:if="${username}">
        <ul>
            <li><a href="/">Home</a></li>
            <li> <a href="/addPost">Add Post</a></li>
            <li> <a href="/userprofile">See Your Profile</a></li>
            <li><a href="/users">See All Users</a></li>
            <li><a href="/feed">View Your Feed</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><h1>Hello, [[${username}]]!</h1></li>
        </ul>

    </nav>
    <nav th:unless="${username}">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
        </ul>


    </nav>
</header>


<h2 style="text-align:center; color:white; font-size:xx-large">Sign Up!</h2>
<form action="/signup" method="post" style="text-align:center;  width: 650px; margin-left:auto; margin-right:auto">

    <label for="username" style="color:white; font-size:x-large">UserName</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="firstname" style="color:white; font-size:x-large">First Name</label>
    <input type="text" id="firstname" name="firstname">
    <br>
    <label for="lastname" style="color:white; font-size:x-large">Last Name</label>
    <input type="text" id="lastname" name="lastname">
    <br>
    <label for="pass" style="color:white; font-size:x-large">Password</label>
    <input type="password" id="pass" name="password">
    <br>
    <label for="dateofbirth" style="color:white; font-size:x-large">Date Of Birth</label>
    <input type="date" id="dateofbirth" name="dateofbirth">
    <br>
    <label for="bio" style="color:white; font-size:x-large">Bio</label>
    <textarea name="bio" id="bio" rows="5" cols="14"></textarea>
    <br>
    <input type="submit" name="submit" value="Submit">

</form>

</body>
</html>